/*
  Why we should use inline-blocks?
  Any place you want elements in a row or over several rows you might want to
  consider using inline-blocks as opposed to floats.
  http://www.vanseodesign.com/css/inline-blocks
  http://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block

  Why this mixin is so usefull?
  Spacing removes visual gaps caused by whitespace.
*/

inline-block-container()
  letter-spacing -0.31em
  word-spacing -0.43em

  > *
    letter-spacing normal
    word-spacing normal
    display inline-block
    vertical-align top