html {
  font: 12px Helvetica, sans-serif;
}

.x-list {
  height: 90vh;
  overflow-y: scroll;
  background-color: #AAA;
  padding: 0;
  width: 300px;
}

.x-list-inner {
  position: relative;
  margin: 0;
  padding: 0;
  will-change: transform;
}

.x-list-item {
  border-bottom: solid 1px;
  width: 100%;
}
