html {
  font: 12px Helvetica, sans-serif;
}

.is-list-container {
  height: 90vh;
  overflow-y: scroll;
  background-color: #AAA;
  padding: 0;
  width: 300px;
}

.is-list {
  position: relative;
  margin: 0;
  padding: 0;
  will-change: transform;
}

.is-item {
  position: absolute;
  border-bottom: solid 1px;
  width: 100%;
}

.is-highlight {
  background-color: yellow;
}

.is-debug-info {
  position: fixed;
  top: 680px;
  font-size: 14px;
}
